p.text-background span{
    font-style:italic;
    font-weight: bold;
    text-decoration: underline;
}
div .text-background>span{
    background-color: yellow;
}
span span{
    background-color: grey;
    text-decoration: line-through;
}
ul li span span{
    text-transform:uppercase;
    font-size: 18px;
}
section>p{
    text-shadow: 3px 3px 5px red;
    text-indent: 50;
}
li>ul>li::marker{
    content:url(li.svg);
}
div>p.text-background{
    word-spacing: 50px;
}
div>p.text-bold{
    font-weight: bold;
}
div.text-bold section>p{
    line-height: 45px;
}
img+p{
    background-color: brown;
}
section~p{
    color:red;
}