doctype html
include ./head
section.gallery
  .small-image-wrap
    img(src='../gallery/img1.jpg' alt='' height='150' width='182')
  .small-image-wrap
    img(src='../gallery/img1.jpg' alt='' height='150' width='182')
  .small-image-wrap
    img(src='../gallery/img1.jpg' alt='' height='150' width='182')
  .small-image-wrap
    img(src='../gallery/img1.jpg' alt='' height='150' width='182')
  .small-image-wrap
    img(src='../gallery/img1.jpg' alt='' height='150' width='182')
  .long-image-wrap
    img(src='../gallery/img2.jpg' alt='' height='315' width='950')
  .small-image-wrap
    img(src='../gallery/img1.jpg' alt='' height='150' width='182')
  .small-image-wrap
    img(src='../gallery/img1.jpg' alt='' height='150' width='182')
  .small-image-wrap
    img(src='../gallery/img1.jpg' alt='' height='150' width='182')
  .small-image-wrap
    img(src='../gallery/img1.jpg' alt='' height='150' width='182')
  .small-image-wrap
    img(src='../gallery/img1.jpg' alt='' height='150' width='182')

include ../mixins/mixins
+my_footer