*{
    text-align: center;
}
h1{
    color:red;
    font-weight:bold;
}
bold{
    font-weight:bold;

}
highlight{
    background-color: yellow;
}
hr{
    color:green;
    size:3px;
}
.cursive{
    
    font-style: italic;
}
h2{
    font-style: italic;
}
underlined{
    text-decoration: underline;
}
crossed{
    text-decoration: line-through;
}    
