$plain-black: rgb(0, 0, 0);
$main-color: rgb(3, 3, 234);
$color_4: rgb(130, 129, 129);
$near-transparant: rgba(18, 17, 17, 0.071);
$secondary-color: rgb(229, 237, 244);
$accent-color: rgb(168, 168, 252);