nav
    a(href='#')
      span Home
    a(href='../task2.3/index.html')
      span About us
    a(href='../task2.1/index.html')
      span Our Works
    a(href='../task2.2/index.html')
      span Journal
    a(href='../task2.4/index.html')
      span Contact