.tommorow-weather
  h1 New York, NY
  p Tuesday, April 15th
  p Overcast
  img(src='../icons/iconfinder_weather04.png' alt='' height='100' width='100')
  p.degrees-main 58
  p.farenheit &ordm;F
  ul
    li
      p Precipation 100%
    li
      p Humidity: 97%
    li
      p Wind: 4mph SW
    li
      p Pollen Count:36