doctype html
include ./head
section.tree
  .first-layer 1
  .second-layer 2
  .second-layer 3
  .third-layer 4
  .third-layer 5
  .third-layer 6
  .forth-layer 7
  .forth-layer 8
  .forth-layer 9
  .forth-layer 10
  .fifth-layer 11
  .fifth-layer 12
  .fifth-layer 13
  .fifth-layer 14
  .fifth-layer 15
  .fifth-layer 16
  .sixth-layer 17
  .sixth-layer 18
  .sixth-layer 19
  .sixth-layer 20
  .sixth-layer 21
  .sixth-layer 22
  .sixth-layer 23
  .sixth-layer 24
  .sixth-layer 25
  .sixth-layer 26
  .sixth-layer 27
  .sixth-layer 28
include ../mixins/mixins
+my_footer