@mixin footer{
    footer {
	padding: 20px;
	background-color: rgb(31, 30, 30);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: bold;
	font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	a {
		&:hover {
			text-decoration-line: unset;
			padding: 7px;
			color: rgb(39, 2, 244);
			background-color: rgb(0, 14, 165);
			box-shadow: inset -2px -2px rgb(83, 83, 83);
			border: 3px solid rgb(0, 0, 44);
			text-transform: uppercase;
			border-radius: 4px;
		}
		text-decoration-line: unset;
		padding: 7px;
		color: rgb(230, 227, 227);
		border: 3px solid rgb(0, 0, 45);
		background-color: rgb(31, 30, 30);
		box-shadow: inset -2px -2px rgb(1, 6, 78);
		text-transform: uppercase;
		border-radius: 4px;
	}
}
}