div.body{
    height: fit-content;
    width: 100%;
   
    background: rgb(241,4,4);
    background: linear-gradient(156deg, rgb(241,4,4) 0%, rgb(9,9,121) 71%);
    

}
div.main{
    height:auto;
    width: 550px;
    
    margin: 20px 25% 40px 25%;
    color:rgb(231, 229, 229);
    background-color: rgb(52, 52, 52);
}

form{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
fieldset.main{
    margin: 10px;
    border-color: white;
    border-width: 3px;
    background-color: rgb(32, 31, 31);
}
fieldset.main *{
    background-color: none;
}
fieldset p {
    display: inline-block;
    text-transform: lowercase;
    font-size: 12px;
    margin-bottom: 1px;
    margin-left: 15px;
}
fieldset.main>legend{
    text-align: center;
    align-self: center;
    font-size: 18px;
    border: 2px solid white;
    padding: 5px;
    color: white;
}
input[type=radio]:checked{
    
    accent-color: red;
}
input[type=checkbox]:checked{
    
    accent-color: red;
}

 
 
  
   
  
fieldset legend{
    background-color: rgb(20, 20, 20);
    display: inline-block;
    text-transform: uppercase;
    color: rgb(196, 194, 194);
    font-weight: 600;
    font-size: 10px;
}
fieldset{
    width: 40%;
    font-size: 16px ;
}

fieldset.person{
    
    border: 2px double red;
    border-left: 0px;
    border-right: 0px;
    display: block;
    margin: 20px;
    
}
fieldset.person input{
    background-color: black;
    color:white;
}
fieldset.person input:hover{
    border-color: red;
}
fieldset.credentials input{
    background-color: black;
    color:white;
}
fieldset.credentials input:hover{
    border-color: red;
}
fieldset.credentials{
    border: 2px double red;
    border-left: 0px;
    border-right: 0px;
    
    display: block;
    margin: 20px;
    
}
input{
    background-color: azure;
    margin-left: 10px;
}

div.color{
    
    height:fit-content;
    margin: 3px;
    
    
}
fieldset.color{
    height: auto;
    width: auto;
}
fieldset.beverages{
    
    
    width: auto;
    
}
div.food{
    margin: 10px;
    
    
    
}

div.tests{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0px;
    
}
div.fields{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    
    
}
div.age{
    height:fit-content;
    margin: 3px;
    
}
fieldset.age{
    height: auto;
    width: auto;
}

button{
    
    background-color: rgb(28, 28, 28);
    border: 1px solid black;
    border-radius: 2px;
    padding: 7px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 5px;
    margin-top: 30px;
    overflow: hidden;
    float:right;
    color: rgb(223, 223, 223);
    font-weight: 600;
}
button:hover{
    background-color: rgb(0, 0, 0);
    border: 1px double rgb(251, 1, 1);
    color: rgb(248, 34, 34);
    
}

div.music_cars_food{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    
}
fieldset.music{
    margin:3px;
    width: auto;
    
}
fieldset.cars{
    margin:3px;
    width: auto;
    
}
fieldset.food{
    margin:3px;
    width: auto;
    
}
div.buttons{
    
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
select{
    background-color: rgb(0, 0, 0);

    border-color: white;
    color: white;
}
fieldset.music select{
    margin-left: 25px;
}
fieldset.cars select{
    
    scrollbar-color: white black;
    scrollbar-width: thin;
    
}
fieldset.cars select option:hover{
    
    border:1px, solid, red;
    
}

textarea{
    width: 300px;
    height: 80px;
    background-color: black;
    margin: 10px;
    color: white;
}
textarea:hover{
    border: 1px solid red;
    
}
p.message{
    text-transform: none;
    font-size: 14px;
}
fieldset.browsers{
    margin: 15px;
    width: auto;
}
fieldset.browsers input{
    background-color: black;
}
fieldset.browsers input:hover{
    border-color: red;
}
input[type=file]{
    color: white;
    background-color: black;
}

input[type=file]::file-selector-button{
    color: white;
    background-color: black;
    text-transform: uppercase;
    border: 1px solid white;
}
input[type=file]::file-selector-button:hover{
    color: black;
    background-color: white;
    text-transform: uppercase;
    border: 1px solid white;
}
