doctype html
include ./head

section.card-set
  .current-card
    .upper-photo
      img(src='../gallery/img1.jpg' alt='')
    .lower-block
      h1 Lorem ipsum dolor sit 
      p
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam corporis esse facilis velit?
      h2 Lorem ipsum dolor sit.
      img(src='../gallery/plan.jpg' alt='')
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem voluptate laboriosam ipsum!
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit recusandae earum dignissimos?
      a.grey-button(href='#') dwodww
  .card
    .upper-photo
      img(src='../gallery/img1.jpg' alt='')
    .lower-block
      h2 Lorem ipsum dolor sit.
      p
        | Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, neque? sit amet, consectetur adipisicing elit. Velit recusandae earum dignissimos?
      a.grey-button(href='#') dwodww
  .card
    .upper-photo
      img(src='../gallery/img1.jpg' alt='')
    .lower-block
      h2 Lorem ipsum dolor sit.
      p
        | Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, quo.amet, consectetur adipisicing elit. Velit recusandae earum dignissimos?
      a.grey-button(href='#') dwodww
  .card
    .upper-photo
      img(src='../gallery/img1.jpg' alt='')
    .lower-block
      h2 Lorem ipsum dolor sit.
      p
        | Lorem ipsum dolor sit Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, architecto.amet, consectetur adipisicing elit. Velit recusandae earum dignissimos?
      a.grey-button(href='#') dwodww
  .card
    .upper-photo
      img(src='../gallery/img1.jpg' alt='')
    .lower-block
      h2 Lorem ipsum dolor sit.
      p
        | Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, nostrum.amet, consectetur adipisicing elit. Velit recusandae earum dignissimos?
      a.grey-button(href='#') dwodww
  .card
    .upper-photo
      img(src='../gallery/img1.jpg' alt='')
    .lower-block
      h2 Lorem ipsum dolor sit.
      p
        | Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, libero.amet, consectetur adipisicing elit. Velit recusandae earum dignissimos?
      a.grey-button(href='#') dwodww


include ../mixins/mixins
+my_footer